.dashboard-home-container {
    width: 100%;
    height: 100vh;
    padding: 1.5rem;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
}

.dashboard-grid {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    overflow: auto;
    padding-bottom: 2.5rem;
}

.dashboard-cardPie {
    grid-column: span 4;
    grid-row: span 2;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #8953cf15;
}

.dashboard-cardPie-interno {
    flex: 1;
    border-radius: 0.75rem;
    padding: 0.5rem;
    height: 100%;
    background-color: #F8F8F880;
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.12);
    
}

.dashboard-cardPie-interno h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
    margin-top: 10px;
}

.dashboard-cardMensal {
    grid-column: span 5;
    grid-row: span 2;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #8953cf15;
}

.dashboard-cardMensal-interno {
    flex: 1;
    border-radius: 0.75rem;
    padding: 0.5rem;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: #F8F8F880;
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.12);
}

.dashboard-cardMensal-interno h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
}

.dashboard-cardLinha {
    grid-column: span 7;
    grid-row: span 2;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    color: #374151;
    background-color: #8953cf15;
}

.dashboard-cardLinha-interno {
    flex: 1;
    border-radius: 0.75rem;
    padding: 0.5rem;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    background-color: #F8F8F880;
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.12);
}

.dashboard-cardLinha-interno h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
}

.dashboard-cardHistorico {
    grid-column: span 5;
    grid-row: span 2;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F880;
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.12);
}

.dashboard-cardHistorico-title {
    font-size: 1.125rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.25rem;
}

.dashboard-cardHistorico-subtitle {
    font-size: 0.75rem;
    color: #2f3238;
    margin-bottom: 1rem;
}

.dashboard-cardHistorico-list {
    flex: 1;
    overflow-y: auto;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.dashboard-cardHistorico-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    border-bottom: 1px solid #f3f4f6;
    border-radius: 0.5rem;
    transition: background-color 0.15s;
}

.dashboard-cardHistorico-item:hover {
    background-color: #e1e9df;
}