:root {  
    --fundo-primario: #EDE9FE;
    --borda-primaria: #856C97;

    --fundo-gradiente-inicio: #E1CCF7;
    --fundo-gradiente-meio: #D8E8EC;
    --fundo-gradiente-fim: #F5E8FB;

    --texto-titulo: #312E81;
}

.pagina-autenticacao {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    
    
    background: linear-gradient(
        135deg, 
        var(--fundo-gradiente-inicio) 0%,
        var(--fundo-gradiente-meio) 50%, 
        var(--fundo-gradiente-fim) 100%); 
}

.card-registro {
    width: 100%; 
    min-height: 500px;
    max-width: 400px; 
    
    background-color: var(--fundo-primario);
    border: 2px solid var(--borda-primaria);
    border-radius: 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;

    font-family: 'Inter', sans-serif;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

    font-size: 0.875rem;

}

.titulo-autenticacao {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem; 
    color: var(--texto-titulo);
}

.formulario-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.imagem-perfil-bloco {
    position: relative;
    width: 6rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}

.botao-upload-img {
    width: 2rem;
    aspect-ratio: 1 / 1; 
    border-radius: 50%; 
    border: 2px solid #065f46;
    color: #065f46; 
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.inputs-bloco {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 0.875rem;
}

.grupo-input {
    display: flex;
    flex-direction: column;
}

.input-label {
    font-size: 0.875rem; 
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.campo-input {
    font-size: 0.875rem;
    background-color: white;
    border-radius: 0.25rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    outline: none;
}

.botao-cadastro {
    width: 100%;
    background-color: #4c1d95;
    padding: 0.5rem; 
    color: white;
    border-radius: 8px; 
    cursor: pointer;
    font-weight: 500;
    border: none;
    height: 42px;
    font-size: 1rem;  
    margin-bottom: 0.5rem;
}

.botao-cadastro:hover {
    background-color: #38106b;
}

.grupo-link-login {
    display: flex;
    gap: 0.5rem;
    font-weight: 600; 
}

.link-login {
    color: #7818DB;
    text-decoration: none;
    font-weight: 600;
}