:root {
    --sidebar-width-narrow: 6rem; 
    --sidebar-width-expanded: 260px; 
    --sidebar-bg-color: #7B879E;
    --text-color: ;
}

.layout-container {
    display: grid;
    grid-template-columns: var(--sidebar-width-narrow) 1fr;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    top: 0;
    height: 100vh;
    width: var(--sidebar-width-narrow);
    background-color: var(--sidebar-bg-color); 
    color: var(--text-color);
    padding: 2rem 1rem; 
    transition: width 0.3s ease-in-out; 
    overflow-x: hidden; 
    color: #ffffff;
}

.sidebar:hover {
    width: var(--sidebar-width-expanded); 
}

.menu-navegacao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; /* Espaçamento entre os botões */
    padding-top: 3rem;
}

.botao {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 9999px;
    background-color: #4b5563;
    gap: 1rem;
    padding: 10px 15px; 
    border: 0.10px solid #7818DB;
}

.perfil-imagem {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 9999px;
    object-fit: cover;
    overflow: hidden;
    margin: 5px;
    border: 0.10px solid #7818DB;
}

.menu-icone {
    color:#ffffff; 
    flex-shrink: 0;
}

.menu-link-texto{
    opacity: 0; 
    white-space: nowrap; 
    transition: opacity 0.2s ease-in-out;
}

.sidebar:hover .menu-link-texto {
    opacity: 1; 
    transition-delay: 0.15s;
}